@font-face {
	font-family: OpenSans-Light;
	src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: LemonMilk;
	src: url(../fonts/LemonMilk.otf);
}

@font-face {
	font-family: OpenSans-ExtraBold;
	src: url(../fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
	font-family: Social-Shapes;
	src: url(../fonts/social_shapes.ttf);
}

@font-face {
	font-family: Social-Types;
	src: url(../fonts/SocialType.ttf);
}

@font-face {
	font-family: OpenSans-Semibold;
	src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
	font-family: OpenSans-Bold;
	src: url(../fonts/OpenSans-Bold.ttf);
}

body {
	background: url("../images/bg.jpeg") no-repeat;
	background-size: cover;
	font-family: OpenSans-Light;
	box-sizing: border-box;
}

.myBox, #quotes {
	width: 700px;
	height: 350px;
	top: 0; left: 0; bottom: 0; right: 0;
	background: #FFF;
	/*background: -moz-linear-gradient(#DDD, #FFF, #DDD); */
	margin: auto;
	position: absolute;
	border: 0px solid #CCC;
	-webkit-box-shadow: 1px 1px 5px 0px #aaaaaa;
	-moz-box-shadow: 1px 1px 5px 0px #aaaaaa;
	box-shadow: 0px 0px 5px 0px #aaaaaa;
}

#quotes p {
	top: 50%;
	position: relative;
	color: rgb(232, 102, 102);
	font-family: LemonMilk;
	font-size: 40px;
	font-weight: 900;
	line-height: 42px;
	text-transform: UPPERCASE;
	text-align: center;
	text-shadow: 1px 2px 5px #AAAAAA;
	transform: translateY(-100%);
}

#quotes p::before {
	content: open-quote;
	font-size: 72px;
	vertical-align: -20px;
}

#quotes p span::after {
	content: close-quote;
	font-size: 72px;
	vertical-align: -20px;
}

#quotes p span {
	color: #555555;
}

#skills {
	
}

nav {
	margin: 0px;
	width: 100%;
	font-size: 12px;
	font-weight: normal;
}

nav ul {
	float: right;
	list-style: none;
	margin: 0px 0px;
}

#logo {
	color: #CCC;
	font-family: OpenSans-Light;
	font-size: 24px;
	font-weight: 900;
	letter-spacing: 2px;
	text-shadow: 0px 1px 2px 3px;
	float: left;
}

#logoImage {
	display: inline-block;
}

#logoImage img {
	width: 240px;
	margin-left: 25px;
}

#logo span {
	color: rgb(232, 102, 102);
}

nav ul li {
	float:left;
	margin: 0px 10px;

}
nav ul li a {
	font-family: OpenSans;
	/*font-weight: NORMAL;*/
	color: #bbbbbb;
	padding: 5px 2px;
	text-decoration: none;
	text-transform: UPPERCASE;
	display: block;
}

nav ul li a:hover {
	color: #eeeeee;
	border-bottom: 3px solid rgb(232, 102, 102);
}

#container {
	height: 85%;
	background: #FFF;
}

#avatar {
	top: 50%;
	float: left;
	position: relative;
	width: 200px;
	height: 200px;
	padding: 5px;
	margin: auto 20px;
	border: 1px solid #AAA;
	border-radius: 50%;
	box-shadow: 1px 1px 3px 0px #CCC;
	transform: translateY(-50%);
}

#avatar img {
	display: block;
	width: 100%;
	border-radius: 50%;
}

#main {
	margin-left: 280px;
	margin-right: 20px;
	padding: 5px;
}

.clear {
	clear: both;
}

#hello {
	top: 50%;
	position: relative;
	width: 70px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
	font-family: OpenSans-ExtraBold;
	font-size: 11px;
	text-transform: uppercase;
	background-color: rgb(232, 102, 102);
	margin: 10px 0px;
}

#hello::before {
	content: " ";
	position: absolute;
	top: 22px;
	left: 7px;
	width: 0px;
	height: 0px;
	border: 4px solid;
	border-color: rgb(232, 102, 102) transparent transparent rgb(232, 102, 102);

}

#intro {
	color: #7a7a7a;
	font-size: 30px;
	/*font-weight: bold;*/
}

#intro > h3 {
	display: inline-block;
	color: #5b5b5b;
	font-family: OpenSans-Bold;
	font-size: 1.1em;
	font-weight: bold;
	padding: 0px 5px;
	margin: 0px 0px;
}

#caption {
	color: #7a7a7a;
	font-family: OpenSans-Semibold;
	/*font-weight: bold;*/
	font-size: 14px;
}

hr {
	border: 0px;
	border-top: 1px solid #aaaaaa;
	margin: 4px 0px 8px 0px;
}

.head	{
	width: 35%;
	color: #5b5b5b;
	font-family: OpenSans-ExtraBold;
	font-size: 12px;
	/*font-weight: bold;*/
	padding: 3px 0px;
	text-transform: uppercase;
}

.data	{
	color: #7a7a7a;
	font-family: OpenSans-Semibold;
	font-weight: bold;
	font-size: 12px;
}

.mail {
	color: #7a7a7a;
	text-decoration: none;
}

.skills {
	color: #5b5b5b;
	font-family: OpenSans;
	font-size: 16px;
}

p.rating {
	width: 8px;
	height: 8px;
	display: inline-block;
	background-color: rgb(232, 102, 102);
	border-radius: 50%;
	border: 1px solid rgb(232, 102, 102);
	margin: 0px 3px;
}

.no_rating {
	width: 8px;
	height: 8px;
	display: inline-block;
	/*background-color: rgb(232, 102, 102);*/
	border-radius: 50%;
	border: 1px solid rgb(232, 102, 102);
	margin: 0px 3px;
}

div.div-skills {
	width: 90%;
	height: 85%;
	margin: 0px auto;
	padding: 10px 20px;
}

table.table-skills {
	width: 100%;
	/*margin: 10px;*/
	/*padding: 10px;*/
	box-sizing: border-box;
}

table.table-skills td {
	padding: 5px 0px;
}

.table-caption {
	text-align: left;
	padding: 4px 0px;
	border-bottom: 2px solid rgb(232, 102, 102);
}

.table-caption > span {
	color: rgb(255, 255, 255);
	background-color: rgb(232, 102, 102);
	font-family: OpenSans-SemiBold;
	font-size: 16px;
	line-height: 20px;
	text-align: left;
	text-transform: uppercase;
	padding: 4px 10px;
}

td.skills {
	text-align: left;
}

td.rating {
	text-align: right;
}

div.footer {
	height: 15%;
	background: rgb(232, 102, 102);
}

ul.social_icons {
	width: 320px;
	height: 100%;
	font-family: Social-Types;
	list-style: none;
	padding-left: 0px;
	padding-top: 10px;
	margin: 0px auto;
}

ul.social_icons li {
	display: inline-block;
	/*line-height: 40px;*/
	margin: 0px 20px;
}

ul.social_icons li img {
	width: 28px;
}


ul.social_icons li a {
	color: #EEEEEE;
	font-size: 40px;
	text-decoration: none;
	/*padding: 5px 4px 4px 4px;*/
	/*border: 1px solid #eee;*/
	/*border-radius: 20px;*/
	/*box-shadow: 0 0 1px #eee;*/
}

div#contactForm {
	padding: 10px 20px;
	text-align: center;
}

div#experience {
	padding: 10px 20px;
	text-align: center;
}

div#contactForm > form {
	padding: 10px 0px;
}

input[type=text], input[type=email], textarea, button {
	font-family: OpenSans;
	width: 60%;
	padding: 8px 15px;
	border: 1px solid #ccc;
	margin: 5px 0px;
	font-size: 16px;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
	outline: none;
	border: 1px solid rgb(232, 102, 102);
	/*box-shadow: 0 0 5px 1px #e8e8e8;*/
}

textarea {
	height: 120px;
}

button {
	color: #fff;
	border: 0px;
	background-color: rgb(232, 102, 102);
}

.exp-headers {
	color: rgb(232, 102, 102);
	/*text-transform: uppercase;*/
	font-weight: bold;
}



.carouselbox {
  font-family: helvetica,sans-serif;
  font-size: 14px;
  /*width: 100px;*/
  position: relative;
  margin: 3px;
/*  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;*/
  overflow: hidden;
}
.content {
  margin: 0;
  padding: 0;
}
.content > li {
  /*font-size: 100px;*/
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

div#expDiv {
	display: flex;
	align-items: center;
}

.expTable td {
	padding: 3px 10px;
	vertical-align: top;
}

td.expContent {
	color: #5d5d5d;
	font-family: OpenSans;
    font-size: 16px;
}

.carouselbox {
	display: inline-block;
	width: 88%;
}
.active {
  height: 250px;
}
.active ol > li {
  position: absolute;
  top: 300px;
  height: 250px;
}
.active ol > li.current {
  top: 10px;
}

.buttons {
	width: 6%;
	display: inline-block;
}

.offscreen {
	display: block;
	font-size: 24px;
	width: 30px;
	height: 30px;
	line-height: 26px;
	background-color: rgb(232, 102, 102);
	color: #fff;
	font-weight: bold;
	border-radius: 15px;
	text-align: center;
	vertical-align: middle;
}